        * {
            margin: 0;/* é a margin externa*/
            padding: 0;/* é a margin interna*/
        }
        
        .content .fundo{
            background-image: url(fundo.jpeg);
            background-repeat: no-repeat;/*Nao repetir a imagem*/
            background-size: cover;/* Ajusta a imagem*/
            z-index: -1; /* menor prioridade */
            position: absolute;/*nao esta em cascata, Nao possui regra*/
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            opacity: 0.6; 
        }
        
        .titulo{
            text-align: center;
            color: black;
            width: 1000px;
            margin: auto 150px;
            margin-top: 50px;
            font-family: 'Poppins', sans-serif;
        }
        
        .container {
            background-color: white;
            width: 400px;
            height: 200px;
            padding: 25px;
            /* é a margin interna*/
            text-align: center;
            border: 5px solid black;
            border-radius: 50px;
            margin-left: 50px;
            margin-top: 200px;
        }
        
        .nav-btn {
            background-color: white;
            width: 400px;
            height: 250px;
            padding: 25px;
            text-align: center;
            border: 5px solid black;
            border-radius: 50px;
            float: right;
            margin-right: 50px;
            margin-top: -265px;
        }